{% extends 'app/index.html' %}

{% load static %}
{% load i18n %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1>Поиск музейных предметов</h1>
            <p class="lead text-body-secondary">Загрузите изображение и найдите похожие предметы!</p>
        </div>
    </div>
</section>

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <h4 class="mb-3">Загрузите фото экспоната</h4>
                <form class="needs-validation" action="{% url 'home' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div>
                            <label for="formFileLg" class="form-label">Картинка в любом формате (.png, .jpg)</label>
                            {{ form.image }}
                        </div>
                        {% if form.image.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.image.errors }}
                        </div>
                        {% endif %}

                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-check">
                                        {{ form.images }}
                                        <label class="form-check-label" for="flexCheckDefault">
                                          Найти похожие экспонаты
                                        </label>
                                      </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check">
                                        {{ form.group }}
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Определить класс экспоната
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-check">
                                        {{ form.description }}
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Сгенерировать описание экспоната
                                        </label>
                                      </div>
                                </div>
                                <div class="col-sm">
                                    <button class="btn btn-secondary" name="action" value="all" type="submit">Отправить</button>
                                </div>
                            </div>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                        </div>
                </form>
                {% if predicted %}
                    <h3 class="py-3">Загруженный экспонат</h3>
                    {% include 'app/partials/card_predicted.html' with object=predicted %}
                {% endif %}
            </div>
        </div>

        {% if images %}
            {% include 'app/partials/images.html' %}
        {% endif %}
    </div>
</div>
{% endblock content %}