<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-8">
            <img src="{{ object.image }}" class="img-fluid rounded-start center mx-auto" style="max-height: 500px"
                alt="Наиболее похожий экспонат">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h4><span class="badge text-bg-secondary">{{ object.group }}</span></h4>
                <p class="card-text">{{ object.description }}</p>
            </div>
        </div>
    </div>
</div>