<div class="card mb-4 box-shadow">
    <img class="card-img-top" src="{{ object.image }}" alt="Thumbnail [100%x225]" style="display: block;">
    <div class="card-body">
      <h4 class="card-text"><span class="badge text-bg-secondary">Группа: {{ object.group }}</span></h4>
      <p class="card-text">{{ object.description }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="text-muted">Приоритет: {{ counter }}</small>
      </div>
    </div>
  </div>